//------global variables------
$bg-color : white;
$header-background : ('../Images/colorful_triangles_small.jpg');
$menu-transparency : rgba(240,240, 240, 0.5);
$button-color : lightgrey;
$button-color-hover : grey;

$default-assignment-bgcolor : MintCream;
$default-assignment-accentcolor : PaleTurquoise ;

$submenu-color : Lavender;