@import "global_definitions";

.morning
{
	background-color: deepskyblue;
	color: red;
}

.afternoon
{
	background-color: springgreen;
	color : red;
}

.evening
{
	background-color: yellow;
	color : blue;
}

.night
{
	background-color: red;
	color: deepskyblue;
}

.night-owl
{
	background-color: black;
	color: red;
}