//@import "compass/css3/transform";
@import "global_definitions.scss";

/*-----------------STYLES-------------------*/

/*-----------------RESET--------------------*/
body, html
{
	margin : 0;
	padding : 0;
	height: 100%;
	font-family: sans-serif;
	background-color: $bg-color;
}

a, a:visited, a:hover
{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

/*-----------------SECTIONS------------------*/

.section 
{
	padding : 10px 0;
}

/*-----------------PAGE---------------------*/

#page
{
	height: 100%;
}

/*-----------------BODY---------------------*/

#body
{
	padding-bottom: 50px;
}
/*-----------------HEADER-------------------*/

#header
{
	background-image : url('../Images/colorful_triangles_small.jpg');
	background-size : cover;
	padding-bottom: 0;

	ul
	{
		width: 95%;
		list-style-type: none;	
		padding-left: 5%;
		margin: 0;
		background-color: $menu-transparency;
		left : -5em;
	
		li
		{
			float: left;
			padding : 10px;	

			&:hover
			{
				background-color: $menu-transparency;
			}
		}
	}
}

.clear
{
	clear: left;
	display: block;
}

.selected, #header ul .selected:hover
{
	background-color: #FFF;
}

/*------------SUBMENU STILL IN DEVELOPMENT--------------*/

@keyframes teste
{
	0% { transform : scale(1, 0); }
	100% { transform: scale(1,1);}
	
}


.parent-menu // Not yet fully implemented
{
	position: relative;
	&:hover 
	{
		.submenu_in
		{
			display: block;
			animation-name: teste;
			animation-duration: 0.3s;
			transform-origin: 50% 0%;
		}
	}
}

.submenu // Not yet fully implemented
{
	display: block;
	position: relative;
	margin : 0 0 0 0 !important;	
	left : 0 !important;
	background-color : $submenu-color !important;
}

.submenu_in //not fully implemented
{
	display: none;
	position: absolute;
	margin : 10px 0 0 0 !important;	
	left : 0 !important;
	background-color : $submenu-color !important;
	box-shadow: 0 3px 3px rgba(200,200,200, 0.8);
	//max-height: 30vh;

	.column
	{
		float: left;
	}
	li {
		float: none !important; 
		position: relative;
		background-color : gray;
	}
    
}
//----------------END SUBMENU---------------*/

/*----------------FOOTER--------------------*/

#footer
{
	position : fixed;
	width: 100%;
	bottom : 0;
	box-sizing : border-box;
	background-color : lightgrey;
	padding-left: 5%;
}

@media (max-width : 480px)
{
	#footer
	{
		position: relative;
	}
}

/*----------------WRAPPER------------------*/

.content-box
{
	margin : 10px 5%;
}

.div_button
{
	background-color: $button-color;
	width: auto;
	padding: 10px;
	margin : 20px 0;
	
	&:hover
	{
		background-color: $button-color-hover;		
	}
}