/*-----------------STYLES-------------------*/
/*-----------------RESET--------------------*/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: white; }

a, a:visited, a:hover {
  color: #000;
  text-decoration: none;
  text-transform: uppercase; }

/*-----------------SECTIONS------------------*/
.section {
  padding: 10px 0; }

/*-----------------PAGE---------------------*/
#page {
  height: 100%; }

/*-----------------BODY---------------------*/
#body {
  padding-bottom: 50px; }

/*-----------------HEADER-------------------*/
#header {
  background-image: url("../Images/colorful_triangles_small.jpg");
  background-size: cover;
  padding-bottom: 0; }
  #header ul {
    width: 95%;
    list-style-type: none;
    padding-left: 5%;
    margin: 0;
    background-color: rgba(240, 240, 240, 0.5);
    left: -5em;
    /*------------SUBMENU STILL IN DEVELOPMENT--------------*/
    /*------------uncomment the submenu section in Header.php to see current state---------------*/
    /*
    .parent-menu // Not yet fully implemented
    {
    	position: relative;
    	&:hover 
    	{
    		.submenu_in
    		{
    			display: block;
    			animation-name: dropdown;
    			animation-duration: 0.3s;
    			transform-origin: 50% 0%;
    		}
    	}
    }
    
    .submenu // Not yet fully implemented
    {
    	display: block;
    	position: relative;
    	margin : 0 0 0 0;	
    	left : 0;
    	background-color : $submenu-color;
    }
    
    .submenu_in //not fully implemented
    {
    	display: none;
    	position: absolute;
    	margin : 10px 0 0 0;	
    	padding-left: 0;
    	left : 0;
    	width: auto;
    	background-color : $submenu-color;
    	box-shadow: 0 3px 3px rgba(200,200,200, 0.8);
    	//max-height: 30vh;
    
    	.column
    	{
    		float: left;
    		border-right: 1px #000;
    		overflow: hidden;
    		&:first-of-type
    		{
    			float: none;
    			overflow: auto;
    		}
    		&:last-of-type
    		{
    			border-right: none;
    		}
    	}
    	li {
    		float: none; 
    		position: relative;
    	}
    	
    }
    //----------------END SUBMENU---------------
    */ }
    #header ul li {
      float: left;
      padding: 10px; }
      #header ul li:hover {
        background-color: rgba(240, 240, 240, 0.5); }
@keyframes dropdown {
  0% {
    transform: scale(1, 0); }
  100% {
    transform: scale(1, 1); } }
    #header ul .parent_menu .submenu_in {
      display: none;
      width: auto;
      max-height: 30vh;
      flex-wrap: wrap;
      flex-direction: column;
      position: absolute;
      transform-origin: 50% 0%;
      background-color: Lavender;
      padding: 0; }
    #header ul .parent_menu .open {
      display: inline-flex;
      animation-name: dropdown;
      animation-duration: 0.3s; }

.clear {
  clear: left;
  display: block; }

.selected, #header ul .selected:hover {
  background-color: #FFF; }

/*----------------FOOTER--------------------*/
#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  background-color: lightgrey;
  padding-left: 5%; }

@media (max-width: 480px) {
  #footer {
    position: relative; } }
/*----------------WRAPPER------------------*/
.content-box {
  margin: 10px 5%; }

.div_button {
  background-color: lightgrey;
  width: auto;
  padding: 10px;
  margin: 20px 0; }
  .div_button:hover {
    background-color: grey; }

/*---------------HOME PAGE---------------*/
.left-box {
  width: 70%;
  padding: 0 5% 0 0;
  float: left; }

.right-box {
  width: 15%;
  padding: 0 0 0 5%;
  height: 100%;
  float: left;
  position: relative; }
  .right-box:after {
    content: '';
    position: absolute;
    left: 0%;
    height: 100%;
    top: 0%;
    border-left: 1px solid rgba(70, 70, 70, 0.6); }
  .right-box .settings-list {
    list-style: none;
    padding: 0 5px 5px 5px; }
    .right-box .settings-list p {
      margin-bottom: 0; }
    .right-box .settings-list li {
      font-size: 1.1rem; }
    .right-box .settings-list span {
      font-weight: 600; }
  .right-box .option-list {
    list-style: none;
    padding-left: 0;
    padding-top: 5px; }
    .right-box .option-list li {
      font-size: 0.8em;
      padding: 5px 0; }
      .right-box .option-list li:hover {
        background-color: rgba(240, 240, 240, 0.5); }
      .right-box .option-list li input[type=submit] {
        width: 100%; }
  .right-box .dropdown {
    display: block;
    animation-name: dropdown;
    -webkit-animation-name: dropdown;
    -moz-animation-name: dropdown;
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%; }

@media only screen and (max-width: 480px) and (orientation: portrait) {
  .right-box, .left-box {
    width: 100%;
    float: none; } }
@media only screen and (max-width: 640px) and (orientation: landscape) {
  .right-box, .left-box {
    width: 100%;
    float: none; } }

/*# sourceMappingURL=Menu.css.map */
